volume/node-red/data/flows.json
[
    {
        "id": "2968a4fcf75e9496",
        "type": "tab",
        "label": "Aedes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93149d5c4c8ed59e",
        "type": "group",
        "z": "2968a4fcf75e9496",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "b7f7d725869e3810",
            "985b6519a1583a85",
            "57153851918d05a1",
            "ff5e53f63951e2ec",
            "df260e3e743a5d5b",
            "d4b940867a586fa3",
            "01ccf5d2b9c74de5",
            "38652562089973c6",
            "63a1d3713221d2d8",
            "50b5af36dff06a48",
            "3f0182e1ac883eda",
            "f2e2c27c47ed0f7a",
            "483411e5b49b6c2a"
        ],
        "x": 14,
        "y": 159,
        "w": 912,
        "h": 402
    },
    {
        "id": "149c74ca37a6094d",
        "type": "group",
        "z": "2968a4fcf75e9496",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71f56412e0a1bd0b",
            "94a8707a2c4a4308",
            "30bcabc71382bd19",
            "4195ccca2060a2c5",
            "5ce36754784a00e0",
            "ed51b3734a88ef79",
            "c72af49caa38de08"
        ],
        "x": 954,
        "y": 159,
        "w": 632,
        "h": 402
    },
    {
        "id": "83a842819cf55778",
        "type": "group",
        "z": "2968a4fcf75e9496",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "215dd9c53ae802ad",
            "d0158e4d1410bcf9",
            "f0eb2330582c30b7",
            "54593e8feaea27f5"
        ],
        "x": 1214,
        "y": 579,
        "w": 372,
        "h": 222
    },
    {
        "id": "71f56412e0a1bd0b",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "Aedes Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 280,
        "wires": []
    },
    {
        "id": "94a8707a2c4a4308",
        "type": "aedes broker",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "Aedes MQTT Broker",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "71f56412e0a1bd0b"
            ],
            [
                "30bcabc71382bd19"
            ]
        ]
    },
    {
        "id": "30bcabc71382bd19",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "Aedes Publish Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 340,
        "wires": []
    },
    {
        "id": "4195ccca2060a2c5",
        "type": "mqtt out",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "MQTT Publisher",
        "topic": "sensors",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47a469b15c9c5f27",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "5ce36754784a00e0",
        "type": "mqtt in",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "MQTT subscriber",
        "topic": "sensors",
        "qos": "0",
        "datatype": "json",
        "broker": "47a469b15c9c5f27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "ed51b3734a88ef79",
                "215dd9c53ae802ad"
            ]
        ]
    },
    {
        "id": "ed51b3734a88ef79",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "MQTT Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 520,
        "wires": []
    },
    {
        "id": "b7f7d725869e3810",
        "type": "BACnet-Read",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Device description (Room Simulator)",
        "objectType": "8",
        "instance": "cf0dca49.2a9ac",
        "propertyId": "28",
        "device": "7adbdd83.bce224",
        "server": "e0bf099a.ee8468",
        "multipleRead": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "3f0182e1ac883eda"
            ]
        ]
    },
    {
        "id": "985b6519a1583a85",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b7f7d725869e3810"
            ]
        ]
    },
    {
        "id": "57153851918d05a1",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "ff5e53f63951e2ec",
        "type": "BACnet-Command",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Who is?",
        "commandType": "whoIs",
        "timeDuration": 0,
        "enableDisable": 0,
        "deviceState": 0,
        "isUtc": true,
        "lowLimit": 0,
        "highLimit": 0,
        "device": "7adbdd83.bce224",
        "server": "e0bf099a.ee8468",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "57153851918d05a1"
            ]
        ]
    },
    {
        "id": "df260e3e743a5d5b",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "ff5e53f63951e2ec"
            ]
        ]
    },
    {
        "id": "d4b940867a586fa3",
        "type": "BACnet-Read",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Read Temperature Indoor",
        "objectType": "0",
        "instance": "ef226397.1987f",
        "propertyId": "85",
        "device": "7adbdd83.bce224",
        "server": "e0bf099a.ee8468",
        "multipleRead": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "38652562089973c6"
            ]
        ]
    },
    {
        "id": "01ccf5d2b9c74de5",
        "type": "BACnet-Read",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Read Temperature Water",
        "objectType": "2",
        "instance": "ef226397.1987f",
        "propertyId": "85",
        "device": "7adbdd83.bce224",
        "server": "e0bf099a.ee8468",
        "multipleRead": false,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "38652562089973c6"
            ]
        ]
    },
    {
        "id": "38652562089973c6",
        "type": "function",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Data Cleaning",
        "func": "msg.payload = msg.payload[\"values\"][0].value;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 380,
        "wires": [
            [
                "4195ccca2060a2c5"
            ]
        ]
    },
    {
        "id": "215dd9c53ae802ad",
        "type": "change",
        "z": "2968a4fcf75e9496",
        "g": "83a842819cf55778",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "fields.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fields.timestamps",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 720,
        "wires": [
            [
                "d0158e4d1410bcf9",
                "f0eb2330582c30b7"
            ]
        ]
    },
    {
        "id": "d0158e4d1410bcf9",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "83a842819cf55778",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 760,
        "wires": []
    },
    {
        "id": "f0eb2330582c30b7",
        "type": "influxdb out",
        "z": "2968a4fcf75e9496",
        "g": "83a842819cf55778",
        "influxdb": "bd769110827337f2",
        "name": "sensors @ influxdb",
        "measurement": "sensors",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1470,
        "y": 680,
        "wires": []
    },
    {
        "id": "63a1d3713221d2d8",
        "type": "comment",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "BACnet part",
        "info": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "c72af49caa38de08",
        "type": "comment",
        "z": "2968a4fcf75e9496",
        "g": "149c74ca37a6094d",
        "name": "MQTT part",
        "info": "",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "54593e8feaea27f5",
        "type": "comment",
        "z": "2968a4fcf75e9496",
        "g": "83a842819cf55778",
        "name": "influxdb (optional, for data visualization)",
        "info": "",
        "x": 1410,
        "y": 620,
        "wires": []
    },
    {
        "id": "50b5af36dff06a48",
        "type": "debug",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f0182e1ac883eda",
        "type": "function",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "Data Cleaning",
        "func": "msg.payload = msg.payload[\"values\"][0].value;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "50b5af36dff06a48"
            ]
        ]
    },
    {
        "id": "f2e2c27c47ed0f7a",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d4b940867a586fa3"
            ]
        ]
    },
    {
        "id": "483411e5b49b6c2a",
        "type": "inject",
        "z": "2968a4fcf75e9496",
        "g": "93149d5c4c8ed59e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "01ccf5d2b9c74de5"
            ]
        ]
    },
    {
        "id": "47a469b15c9c5f27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cf0dca49.2a9ac",
        "type": "BACnet-Instance",
        "name": "Room Simulator",
        "instanceAddress": "1818836"
    },
    {
        "id": "7adbdd83.bce224",
        "type": "BACnet-Device",
        "name": "Windows VM",
        "deviceAddress": "10.2.13.221:55936"
    },
    {
        "id": "e0bf099a.ee8468",
        "type": "BACnet-Client",
        "name": "",
        "adpuTimeout": "3000",
        "port": "47808",
        "interface": "10.2.13.254",
        "broadcastAddress": "255.255.255.255"
    },
    {
        "id": "ef226397.1987f",
        "type": "BACnet-Instance",
        "name": "Temperature Water",
        "instanceAddress": "1"
    },
    {
        "id": "bd769110827337f2",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    }
]
